/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');


/* Variables */
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/* Colors */

:root {
  --first-color: #4070f4;
  --second-color: #273746;
  --gardient-color: linear-gradient(to right, #5001fb, #8e0af3);
}

/* FONT STYLE */
:root {
  --body-font:'Montserrat', sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.5rem;
  --nomral-font-size: 0.938rem;
}

/* Media Screen Min-Width : 768px */
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --nomral-font-size: 1rem;
  }
}

/* Margins */
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/* Z-index */
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Base */
*,
::before,
::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: "Oleo Script Swash Caps", sans-serif;
  font-size: var(--nomral-font-size);
  color: var(--second-color);
}

h1{
  font-size:x-large;
}
h2,
p{
  
  margin: 0;
}

h3{
  font-family:'Montserrat', sans-serif;
}

h4{
  font-family: 'Sacramento', cursive;
  font-size: xx-large;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* CUSTOM CSS CLASSES */

/* LAYOUT */
.bd_grid {
  max-width: 1024px;
  display:grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}

.header {
  width: 100%;
  position:absolute;
  top: 0;
  left: 10;
  z-index: var(--z-fixed);
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0);
}
/* Navbar */

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
  font-size: large;
}

@media screen and (max-width: 768px) {
  .nav_menu {
    display: block;
    background-color: rgb(39, 55, 70);
    position:fixed;
    top: var(--header-height);
    right: 100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color:rgb(39, 55, 70);
    transition: 0.5s;
  }
}

.nav_items {
  margin-bottom: var(--mb-4);
}

.nav_link {
  position: relative;
  color: #fff;
}

.nav_link:hover {
  position: relative;
}

.nav_link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.nav_logo {
  color: rgb(39, 55, 70);
}

.nav_toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}


/* ACTIVE MENU */
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

.show {
  right: 0;
}

.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}

.home_data {
  align-self: center;
}

.home_title {
  font-family: "Oleo Script Swash Caps", sans-serif;
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}

.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

.home_title-color {
  font-family:"Oleo Script Swash Caps", sans-serif;
  color: var(--first-color);
}

.home_social {
  display: flex;
  flex-direction: column;
}

.home_social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 1.5rem;
  color: var(--second-color);
}

.home_social-icon:hover {
  color: var(--first-color);
}

.home_img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;
}

.home_img svg {
  width: 100%;
}


/* BUTTONS */
.button {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: inline-block;
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-size: 1rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  background: var(--gardient-color);
}

.button:hover {
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}

.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}

/* ABOUT Me SECTION */

.About_Me_container { 
  row-gap: 5rem;
  font-family: 'Montserrat',sans-serif;
  font-size: larger;
  text-align: center;
}

.About_Me_subtitle {
  margin-bottom: var(--mb-2);
}

.About_Me_img {
  justify-content: center;
}

.About_Me_img svg {
  width: 300px;
  border-radius: 5rem;
}

/* SKILLS */
.skills_container {
  font-family:'Montserrat','sans-serif';
  row-gap: 2rem;
  text-align: center;
}

.skills_subtitle {
  margin-bottom: var(--mb-2);
}

.skills_text {
  font-size: large;
  margin-bottom: var(--mb-4);
}

.skills_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
}

.skills_name {
  font-size: large;
  display: flex;
  align-items: center;
}

.skill_bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.20rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}

.skill_data_science {
  width: 60%;
}

.skill_python_programming {
  width: 85%;
}

.skill_sql {
  width: 75%;
}

.skill_excel {
  width: 85%;
}

/* CERTIFICATIONS */

.Certificates {
  
  text-align: center;
}

.Certificates_container {
  font-weight: bolder;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  row-gap: 2rem;
}

.Certificates_img {
box-shadow: 0 4px 25px rgba(0, 0, 0, 0.15);
border-radius: 0.5rem;
overflow: hidden;
}

.Certificates_img img {
transition: 1s;
cursor: pointer;
}

.Certificates_img img:hover {
transform: scale(1.1);
}

.Certificates_button {
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: inline-block;
color: #fff;
padding: 0.75rem 2.5rem;
font-weight: var(--font-semi);
border-radius: 0.5rem;
background: var(--gardient-color);
}

.Certificates_button:hover {
box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}



/* EDUCATION SECTION */

.Education_container { 
  row-gap: 5rem;
  font-family: 'Montserrat','Oswald','Tiro Gurmukhi',sans-serif;
  font-size: larger;
  text-align: center;
}

.Education_subtitle {
  margin-bottom: var(--mb-2);
}

.Education_img {
  align-content: flex-start;
  justify-content: center;
}

.Education_img svg {
  width: 100px;
  border-radius: 5rem;
}

/* Contact Me */

.control_input {
  width: 100%;
  font-family: 'cursive';
  font-size: var(--nomral-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}

.control_button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--nomral-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* Footer */
.footer {
  background-color:rgb(39, 55, 70);
  color: #fff;
  text-align: center;
  font-weight: var(--lighter-font-size);
  padding: 2rem 0;
}

.footer_title {
  font-size: 2.5rem;
  margin-bottom: var(--mb-4);
}

.footer_socials {
  margin-bottom: var(--mb-4);
}

.footer_icon {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  margin: 0 var(--mb-2);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }

  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }

  .nav_items {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }

  .nav_list {
    display: flex;
    padding-top: 0;
  }

  .nav_toggle {
    display: none;
  }

  .nav_link {
    color: var(--second-color);
  }

  .home {
    height: 100vh;
  }

  .home_data {
    align-self: flex-end;
  }
  .home_social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }

  .home_social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .home_img {
    width: 460px;
    bottom: 15%;
  }

  .home_img svg {
    width: 100%;
  }

  .About_Me_container,
  .skills_container,
  .Education_container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }

  .About_Me_img svg {
    width: 450px;
  }

  .Certificates_container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 2rem;
   }

  .Education_img svg {
    width: 450px;
  }

  .contact_me_form {
    width: 400px;
  }
  .contact_me_container {
    
    justify-items: center;
  }
}

@media screen and (min-width: 1024px) {
  .bd_grid {
    margin-left: auto;
    margin-right: auto;
  }

  .home_img {
    right: 10%;
  }
}
